* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.err-msg {
  color: red;
}
